.card_marg {
  margin: 20px;
  padding-bottom: 45px;
}
.no_films {
  display: flex;
  flex-flow: column;
  margin-top: 30%;
  text-align: center;
}
.card_btn_delFilm {
  display: block;
  position: absolute;
  left: 60px;
  bottom: 10px;
}
