.card_marg {
  margin: 20px;
  padding-bottom: 45px;
}
.hidden {
  display: none;
}
.card_btn_expand {
  position: absolute;
  left: 40px;
  bottom: 15px;
}
.card_btn_addList {
  position: absolute;
  right: 40px;
  bottom: 15px;
}
.center {
  text-align: center;
  margin-top: 200px;
}
