.card_marg {
  margin: 20px;
  padding-bottom: 45px;
}

.card_btn_expand {
  position: absolute;
  left: 40px;
  bottom: 15px;
}
.card_btn_addList {
  position: absolute;
  right: 40px;
  bottom: 15px;
}
.center {
  text-align: center;
  margin-top: 200px;
}
.chosen {
  background-color: green;
}
.hidden {
  display: none;
}
.card_btn_remove {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  right: 5px;
  bottom: 15px;
  border: 3px solid red;
  border-radius: 3px;
}
